

 <header class="bg-white shadow-md">
        <nav class="container mx-auto px-6 py-3">
            <div class="flex justify-between items-center">
                <div class="text-xl font-bold text-gray-800">EventXpert</div>
                <div class="hidden md:flex space-x-4">
                    <a href="#" class="text-gray-600 hover:text-gray-800">Dashboard</a>
                   
                    <a href="#" class="text-gray-600 hover:text-gray-800">Events</a>
                    <a href="#" class="text-gray-600 hover:text-gray-800">Create Event</a>
                    <a href="#" class="text-gray-600 hover:text-gray-800">Contact</a>
                </div>
                <div class="md:hidden">
                    <button id="menu-toggle" class="text-gray-600 hover:text-gray-800 focus:outline-none">
                        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"/>
                        </svg>
                    </button>
                </div>
                <div class="flex gap-1">
                  
                    <form method="POST" action='{% url "sign-out" %}'>
                                {% csrf_token %}
                                <button type="submit" class="hidden md:block bg-cyan-600 text-white px-4 py-2 rounded-md hover:bg-cyan-700 transition duration-300">
                                    Logout
                                </button>
                    </form>
                             
                </div>
            </div>
            <div id="mobile-menu" class="md:hidden hidden mt-4">
                
                <a href="#" class="block py-2 text-gray-600 hover:text-gray-800">Dashboard</a>
                <a href="#" class="block py-2 text-gray-600 hover:text-gray-800">Events</a>
                <a href="#" class="block py-2 text-gray-600 hover:text-gray-800">Create Event</a>
                <a href="#" class="block py-2 text-gray-600 hover:text-gray-800">Contact</a>
                <a href="">
                    
                    <form method="POST" action='{% url "sign-out" %}'>
                        {% csrf_token %}
                        <button type="submit" class="block py-2 text-gray-600 hover:text-gray-800">
                            Logout
                        </button>
                    </form>
                </a>
                
            </div>
        </nav>
    </header>