{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/output.css' %}"> {% endcomment %}
         <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>
    <h1>Welcome to Authentication System</h1>
    <div>
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
               <p class="text-2xl">
                    <label for="{{ field.id_for_label }}"> {{field.label}} </label>
                    {{ field }}

                    {% if field.errors %}
                            <ul>
                                {% for error in field.errors %}
                                <li>{{error}}</li>
                                {% endfor %}
                            </ul>
                    {% endif %}
               </p>
            {% endfor %}
            <button type="submit" class="bg-cyan-400 px-2 py-1 m-2 rounded">Sign Up</button>
        </form>
    </div>
</body>
</html>