{% extends "core/base.html" %}

{% block content %}
    <div>
        {% if messages %}
            {% for message in messages %}
                <div class="px-2 py-1 {% if message.tags == 'success' %}bg-green-500{% endif %} ">{{message}}</div>
            {% endfor %}
        {% endif %}
        <form method='POST'>
            {% csrf_token %}
            {{ form }}
            <button class='bg-cyan-600 hover:bg-cyan-800 px-2 py-1 rounded' type="submit">Sign In</button>
        </form>
    </div>
{% endblock content %}