{% extends "core/base.html" %}

{% block content %}
    <div class='h-[600px] w-[600px] mx-auto mt-12 my-5'>
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
               <p class="text-2xl">
                    <label for="{{ field.id_for_label }}"> {{field.label}} </label>
                    {{ field }}

                    {% if field.errors %}
                            <ul>
                                {% for error in field.errors %}
                                <li>{{error}}</li>
                                {% endfor %}
                            </ul>
                    {% endif %}
               </p>
            {% endfor %}
            <button type="submit" class='bg-cyan-600 hover:bg-cyan-800 w-full border-2 border-cyan-600 text-white px-2 py-1 rounded mt-5'>Sign Up</button>
        </form>
    </div>
{% endblock content %}