{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
     
  </head>
  <body>
    <div class='w-1/2 mx-auto my-8 flex items-center justify-center'>
        <form action="" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}

            {{event_form}}
            <button class ="mt-8 px-3 py-2 bg-amber-500 rounded w-full" type="submit">Create Event</button>

        </form>
    </div>
  </body>
</html>