<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% comment %} <script src="https://unpkg.com/@tailwindcss/browser@4"></script> {% endcomment %}
     <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="">
    <!--header text and logo-->

    <header class="container mx-auto mt-6">
      <nav class="flex mx-8 items-center justify-between">
        <a href="#" class="text-2xl">DASHBOARD</a>
        <div class="flex items-center">
          <a href="#" class="w-10 h-10 bg-zinc-400 rounded-full items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class=""
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0M3.124 7.5A8.969 8.969 0 0 1 5.292 3m13.416 0a8.969 8.969 0 0 1 2.168 4.5"
              />
            </svg>
          </a>
          <a
            href="#"
            class="text-2xl bg-zinc-700 text-white ml-3 h-10 w-10 rounded-full flex items-center justify-center"
            >B</a
          >
        </div>
        <!--logo and text-->
      </nav>
    </header>
    <main class="container mx-auto mt-6">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mx-8">
        <!--Total participants-->
       <a href="{% url "organizer-dashboard" %}">
         <div class="bg-zinc-700 rounded-xl text-white p-4">
          <h1 class="uppercase text-3xl">total participants</h1>
          <div class="mt-2 flex justify-between items-center">
            <div>
              <h2 class="text-2xl">{{total_participant}}</h2>
              <p>99 events</p>
            </div>
            <div class="bg-green-100 p-3 rounded-full">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-6 h-6 bg-green-600"
              >
                <path
                  d="M4.5 6.375a4.125 4.125 0 1 1 8.25 0 4.125 4.125 0 0 1-8.25 0ZM14.25 8.625a3.375 3.375 0 1 1 6.75 0 3.375 3.375 0 0 1-6.75 0ZM1.5 19.125a7.125 7.125 0 0 1 14.25 0v.003l-.001.119a.75.75 0 0 1-.363.63 13.067 13.067 0 0 1-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 0 1-.364-.63l-.001-.122ZM17.25 19.128l-.001.144a2.25 2.25 0 0 1-.233.96 10.088 10.088 0 0 0 5.06-1.01.75.75 0 0 0 .42-.643 4.875 4.875 0 0 0-6.957-4.611 8.586 8.586 0 0 1 1.71 5.157v.003Z"
                />
              </svg>
            </div>
          </div>
        </div>
       </a>
        <!--total events-->
        <a href="{% url "organizer-dashboard" %}?type=total-events">
          <div class="bg-zinc-700 rounded-xl text-white p-4">
          <h1 class="uppercase text-3xl">total events</h1>
          <div class="mt-2 flex justify-between items-center">
            <div>
              <h2 class="text-2xl">{{counts.total_event}}</h2>
              <p>99 events</p>
            </div>
            <div class="bg-green-100 p-3 rounded-full">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                class="w-6 h-6 text-green-600"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
            </div>
          </div>
        </div>
        </a>
        <!--Upcoming events-->
        <a href="{% url "organizer-dashboard" %}?type=upcoming-events">
          <div class="bg-zinc-700 rounded-xl text-white p-4">
          <h1 class="uppercase text-3xl">Upcoming events</h1>
          <div class="mt-2 flex justify-between items-center">
            <div>
              <h2 class="text-2xl">{{counts.upcoming_event}}</h2>
              <p>99 events</p>
            </div>
            <div class="bg-yellow-100 p-3 rounded-full">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-6 bg-yellow-600"
              >
                <path
                  d="M12.75 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM7.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM8.25 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM9.75 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM10.5 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM12.75 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM14.25 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 13.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
                />
                <path
                  fill-rule="evenodd"
                  d="M6.75 2.25A.75.75 0 0 1 7.5 3v1.5h9V3A.75.75 0 0 1 18 3v1.5h.75a3 3 0 0 1 3 3v11.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V7.5a3 3 0 0 1 3-3H6V3a.75.75 0 0 1 .75-.75Zm13.5 9a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
          </div>
        </div>
        </a>
        <!--past events-->
        <a href="{% url 'organizer-dashboard' %}?type=past-events">
          <div class="bg-zinc-700 rounded-xl text-white p-4">
          <h1 class="uppercase text-3xl">past events</h1>
          <div class="mt-2 flex justify-between items-center">
            <div>
              <h2 class="text-2xl">{{counts.past_event}}</h2>
              <p>99 events</p>
            </div>
            <div class="bg-yellow-100 p-3 rounded-full">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                class="w-6 h-6 text-yellow-600"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
            </div>
          </div>
        </div>
        </a>
      </div>

     {% block content %}
     
     {% endblock content %}


    </main>
  </body>
</html>
